# build output
dist/
# generated types
.astro/
.vercel

# dependencies
node_modules/

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*


# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# jetbrains setting folder
.idea/
repopack-output.txt
CHANGELOG.md
NewKnowledgeBase.md
.cursor/rules/framework.mdc
web3yoda.code-workspace
