---
// src/components/astro/Header.astro
---

<header class="w-full py-6">
  <div class="max-w-3xl mx-auto px-8">
    <nav class="flex space-x-6">
      <a href="/" class="text-white hover:text-gray-400 transition-colors">
        Home
      </a>
      <a
        href="https://twitter.com/phantom0fweb3"
        class="text-white hover:text-gray-400 transition-colors"
      >
        Twitter
      </a>
      <a href="#" class="text-white hover:text-gray-400 transition-colors">
        Book a Call
      </a>
    </nav>
  </div>
</header>
