---
// src/components/astro/LanguagePicker.astro
import { languages } from "../../i18n/utils";
---

<style>
  .custom-select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="gray"><path d="M5.5 8l4.5 4.5L14.5 8H5.5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 16px;
    padding-right: 30px;
  }
</style>

<select
  class="custom-select bg-transparent border border-gray-600 rounded px-3 py-2 text-gray-400 focus:border-white transition-colors"
  onchange="window.location.pathname = this.value"
>
  {
    Object.entries(languages).map(([lang, label]) => (
      <option
        value={lang === "en" ? "/" : `/${lang}/`}
        selected={Astro.currentLocale === lang}
      >
        {label}
      </option>
    ))
  }
</select>
